{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">MEMBUAT RESERVASI RS</h2>
              <form method="POST" action="/trigger-1/register/admin-sistem">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                        NIK
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formRS.nik }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="password">
                      Tanggal Masuk
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formRS.tanggal_masuk }}
                  </div>
                </div>
                <div class="row">
                  <input type="submit" value="Register">
                </div>
              </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}