{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<script language="javascript" type="text/javascript">
  
  $(document).ready(function () {

    $("#id_kode_rs").change(function () {
      
        var el = $(this);
        var data = JSON.parse("{{data|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_ruangan"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys = Object.keys(data); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys.length; i++) {
          if (el.val() == keys[i]) {   
            var temp = data[keys[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_ruangan").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
        
        var data2 = JSON.parse("{{data2|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_bed"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys2 = Object.keys(data2); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys2.length; i++) {
          if (el.val() == keys2[i]) {   
            var temp = data2[keys2[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_bed").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
       
    });

    });
    
    function Validation()
    {
      var entrydate, outdate;
      entrydate = document.getElementById("id_tanggal_masuk").value;
      outdate = document.getElementById("id_tanggal_keluar").value;
      if(entrydate > outdate)
      
      {
          event.preventDefault();
          alert("Maaf, tolong masukan tanggal keluar > tanggal masuk");
          returnToPreviousPage();
          return false;
      }
      return true;
    }

  </script>


<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">MEMBUAT FASKES</h2>
              <form method="POST" action="/trigger-3/buat-faskes/" onsubmit="Validation();">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                        Kode Faskes
                    </label>
                  </div>
                  <div class="col-75">
                    {{ kode }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="kode_rs">
                      Tipe
                    </label>
                  </div>
                  <div id = "kode_hotel" class="col-75">
                    {{ tipe }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Nama Faskes
                    </label>
                  </div>
                  <div class="col-75">
                    {{ nama_faskes }}
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-25">
                    <label for="kode_rs">
                      Status Kepemilikan
                    </label>
                  </div>
                  <div id = "kode_hotel" class="col-75">
                    {{ form.status_kepemilikan }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Alamat:
                    </label>
                  </div>
                  <div class="col-75">
                    
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Jalan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ form.jalan }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Kelurahan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ form.kelurahan }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Kecamatan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ form.kecamatan }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Kabupaten/Kota
                    </label>
                  </div>
                  <div class="col-75">
                    {{ form.kabupaten_kota }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Provinsi
                    </label>
                  </div>
                  <div class="col-75">
                    {{ form.provinsi }}
                  </div>
                </div>

                <div class="row">
                  <input type="submit" value="Register">
                </div>
              </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}