{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table  style="width:100%">
    <tr>
      
      <th>Id Transaksi</th>
      <th>Kode Pasien</th>
      <th>Tanggal Pembayaran</th>
      <th>Waktu Pembayaran</th>
      <th>Tanggal Masuk</th>
      <th>Total Biaya</th>
      <th>Status Bayar</th>
      <th>Action</th>
      
      
    </tr>

    {% for row in table %}
    <tr>
      
      <td> {{row.idtransaksi}} </td>
      <td> {{row.kodepasien}} </td> 
      <td> {{row.tanggalpembayaran}} </td> 
      <td> {{row.waktupembayaran}} </td> 
      <td> {{row.tglmasuk}} </td> 
      <td> {{row.totalbiaya}} </td> 
      <td> {{row.statusbayar}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_3:update-faskes' kodefaskes=row.kode %}">UPDATE</a></td>
      <td> <a class="tombol-delete" href="{% url 'trigger_3:delete-faskes' kodefaskes=row.kode %}">DELETE</a> </td>

    </tr>
    
{% endfor %}
  </table>


{% endblock %}