{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode Hotel</th>
      <th>Kode Ruangan</th>
      <th>Jenis Bed</th>
      <th>Tipe</th>
      <th>Harga</th>
      
    </tr>

    {% for row in table %}
    <tr>
      <td> {{row.kodehotel}} </td>
      <td> {{row.koderoom}} </td> 
      <td> {{row.jenisbed}} </td> 
      <td> {{row.tipe}} </td> 
      <td> {{row.harga}} </td> 
    </tr>
    
{% endfor %}
  </table>


{% endblock %}