{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode</th>
      <th>Rujukan?</th>
      <th>Action</th>
      
      
    </tr>

    {% for row in table %}
    <tr>
      <td> {{row.kodefaskes}} </td>
      <td> {{row.isRujukan}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_3:update-rumah-sakit' kodefaskes=row.kode %}">UPDATE</a></td>

    </tr>
    
{% endfor %}
  </table>


{% endblock %}