{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table class="tablenomor" style="width:100%">
    <tr>
      <th>No.</th>
      <th>Kode Pasien</th>
      <th>Tanggal Masuk</th>
      <th>Tanggal keluar</th>
      <th>Kode Rumah Sakit</th>
      <th>Kode Ruangan</th>
      <th>Kode Bed</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
      <td></td>
      <td> {{row.kodepasien}} </td>
      <td> {{row.tglmasuk}} </td> 
      <td> {{row.tglkeluar}} </td> 
      <td> {{row.koders}} </td> 
      <td> {{row.koderuangan}} </td> 
      <td> {{row.kodebed}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_3:update-reservasi-rs' kodepasien=row.kodepasien tglmasuk=row.tglmasuk %}">UPDATE</a></td>
         {% if row.tglmasuk > date %} <!--yang dapat dihapus hanya reservasi yg tglmasuk > tgl sekarang -->
      <td> <a class="tombol-delete" href="{% url 'trigger_3:delete-reservasi-rs' kodepasien=row.kodepasien tglmasuk=row.tglmasuk %}">DELETE</a> </td>
        {% endif %}
    </tr>
    
{% endfor %}
  </table>


{% endblock %}