{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table  style="width:100%">
    <tr>
      
      <th>Id Transaksi</th>
      <th>Kode Pasien</th>
      <th>Tanggal Pembayaran</th>
      <th>Waktu Pembayaran</th>
      <th>Tanggal Masuk</th>
      <th>Total Biaya</th>
      <th>Status Bayar</th>
      
      
    </tr>

    {% for row in table %}
    <tr>
      
      <td> {{row.kode_faskes}} </td>
      <td> {{row.shift}} </td> 
      <td> {{row.tanggal}} </td> 

    </tr>
    
{% endfor %}
  </table>


{% endblock %}