{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode</th>
      <th>Rujukan?</th>
      <th>Action</th>
      
      
    </tr>
    {% with my_var=1 %}
    {% for row in daftar %}
    
    <tr>
      <td> {{row.0.kode_faskes}} </td>
      <td> <input type="checkbox" {{ row.1 }}> </td>
      <td> {{row.0.kode_faskes}} </td>
      <td> {{row.0.isrujukan}} </td> 
      <td>{{ forloop.counter0 }}</td>
      
      
    </tr>

{% endfor %}
{% endwith %}
  </table>


{% endblock %}