{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Nama Faskes</th>
      <th>Action</th>
      
    </tr>

    {% for row in table %}
    <tr>
      <td> {{row.kode}} </td>
      <td> {{row.tipe}} </td> 
      <td> {{row.nama}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_3:update-faskes' kodefaskes=row.kode %}">UPDATE</a></td>
      <td> <a class="tombol-delete" href="{% url 'trigger_3:delete-faskes' kodefaskes=row.kode %}">DELETE</a> </td>
      <td> <a class="tombol-detail" href="{% url 'trigger_3:detail-faskes' kodefaskes=row.kode %}">DETAIL</a> </td>

    </tr>
    
{% endfor %}
  </table>


{% endblock %}