{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode</th>
      <th>Rujukan?</th>
      <th>Action</th>
      
      
    </tr>

    {% for row in table %}
    
    <tr>
      <td> {{row.kode_faskes}} </td>
      <td> <input type="checkbox" {{ isian.{{1}} }}> </td>
      <td> {{row.kode_faskes}} </td>
      <td> {{row.isrujukan}} </td> 
      
      {% endwith %}
    </tr>

{% endfor %}
  </table>


{% endblock %}