{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode Pasien</th>
      <th>Tanggal Masuk</th>
      <th>Tanggal keluar</th>
      <th>Kode Rumah Sakit</th>
      <th>Kode Ruangan</th>
      <th>Kode Bed</th>
      
    </tr>

    {% for row in table %}
    <tr>
      <td> {{row.kodepasien}} </td>
      <td> {{row.tglmasuk}} </td> 
      <td> {{row.tglkeluar}} </td> 
      <td> {{row.koders}} </td> 
      <td> {{row.koderuangan}} </td> 
      <td> {{row.kodebed}} </td> 
    </tr>
    
{% endfor %}
  </table>


{% endblock %}