{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

<script language="javascript" type="text/javascript">
  
  $(document).ready(function () {

    $("#id_kode_rs").change(function () {
      
        var el = $(this);
        var data = JSON.parse("{{data|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_ruangan"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys = Object.keys(data); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys.length; i++) {
          if (el.val() == keys[i]) {   
            var temp = data[keys[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_ruangan").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
        
        var data2 = JSON.parse("{{data2|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_bed"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys2 = Object.keys(data2); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys2.length; i++) {
          if (el.val() == keys2[i]) {   
            var temp = data2[keys2[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_bed").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
       
    });

    });
    
    function Validation()
    {
      var entrydate, outdate;
      entrydate = document.getElementById("id_tanggal_masuk").value;
      outdate = document.getElementById("id_tanggal_keluar").value;
      if(entrydate > outdate)
      
      {
          event.preventDefault();
          alert("Maaf, tolong masukan tanggal keluar > tanggal masuk");
          returnToPreviousPage();
          return false;
      }
      return true;
    }

  </script>


<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">MEMBUAT RESERVASI RS</h2>
              <form method="POST" action="/trigger-3/buat-reservasi-rs/" onsubmit="Validation();">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                        NIK
                    </label>
                  </div>
                  <div class="col-75">
                    {{row.kodepasien}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_masuk">
                      Tanggal Masuk
                    </label>
                  </div>
                  <div class="col-75">
                    {{row.tglmasuk}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="tanggal_keluar">
                      Tanggal Keluar
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formRS.tanggal_keluar }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="kode_rs">
                      Kode Rumah Sakit
                    </label>
                  </div>
                  <div id = "kode_hotel" class="col-75">
                    {{row.koders}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="kode_rs">
                      Kode Ruangan
                    </label>
                  </div>
                  <div id = "kode_hotel" class="col-75">
                    {{row.koderuangan}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="kode_rs">
                      Kode Bed
                    </label>
                  </div>
                  <div id = "kode_hotel" class="col-75">
                    {{row.kodebed}}
                  </div>
                </div>
                

                <div class="row">
                  <input type="submit" value="Register">
                </div>
              </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}