{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'main/asset/s_icon.svg' %}" type="image/x-icon">
    
    <title>SIRUCO</title>
    {% block meta %}
    {% endblock %}

</head>
<body id="body">
    <nav>
        <a href = "/trigger-1/home"><img src="{% static 'main/asset/siruco_logo.svg' %}"></a>
        <div class="navbar">

          <div class="dropdown">
            <button class="dropbtn">Pasien 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_2:read_appointment' %}">List Appointment</a>
              <a href="#">Buat Hasil Tes Pasien</a>
              <a href="#">List Hasil Tes Pasien</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Rumah Sakit
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_2:list_buat_jadwal_dokter' %}">Buat Jadwal Dokter</a>
              <a href="{% url 'trigger_2:lihat_jadwal_dokter' %}">List Jadwal Dokter</a>
            </div>
        </div> 
        
      </div>
        
      <a href="/trigger-1/logout"><h3 style="color:#507DBC; background-color: #cfddec;">Logout</h3></a>
    </nav>
    {% block content %}
    
    {% endblock content %}  
</body>
</html>