{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'main/asset/s_icon.svg' %}" type="image/x-icon">
    
    <title>SIRUCO</title>
    {% block meta %}
    {% endblock %}

</head>
<body id="body">
    <nav>
        <a href = "/trigger-1/home"><img src="{% static 'main/asset/siruco_logo.svg' %}"></a>
        <div class="navbar">

          <div class="dropdown">
            <button class="dropbtn">Hotel  
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_5:buat_hotel' %}">Buat Hotel</a>
              <a href="{% url 'trigger_5:lihat_hotel' %}">List Hotel</a>
              <a href="/trigger-4/pendaftaran-ruangan-hotel/">Buat Ruangan Hotel</a>
              <a href="/trigger-4/list-ruangan-hotel/">List Ruangan Hotel</a>
              <a href="{% url 'trigger_5:buat_paket_makan' %}">Buat Paket Makan</a>
              <a href="{% url 'trigger_5:lihat_paket_makan' %}">List Paket Makan</a>
            </div>
        </div> 

      </div>
        
        <a href="/trigger-1/logout"><h3 style="color:#507DBC; background-color: #cfddec;">Logout</h3></a>
    </nav>
    {% block content %}
    
    {% endblock content %}  
</body>
</html>