{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>

<h2 class="tengah">{{ profil.username }}'s Profile as Pengguna Publik</h2><br>
  <table>
    <tr>
      <td><h3>
        Peran
      </h3></td>
      <td><p> 
        {{ peran }}
      </p></td>
    </tr>

    <tr>
        <td><h3>
          Username
        </h3></td>
        <td><p> 
          {{ profil.username }}
        </p></td>
    </tr>
    <tr>
        <td><h3>
          Password
        </h2></td>
        <td><p> 
          {{ password }}
        </p></td>
    </tr>
    <tr>
        <td><h3>
          Nik
        </h2></td>
        <td><p> 
          {{ profil.nik }}
        </p></td>
    </tr>
    <tr>
        <td><h3>
          Nama
        </h2></td>
        <td><p> 
          {{ profil.nama}}
        </p></td>
    </tr>

    <tr>
      <td><h3>
        Status
      </h2></td>
      <td><p> 
        {{ profil.status }}
      </p></td>
  </tr>
  <tr>
      <td><h3>
        Peran
      </h2></td>
      <td><p> 
        {{ profil.peran }}
      </p></td>
  </tr>
  <tr>
      <td><h3>
        No HP
      </h2></td>
      <td><p> 
        {{ profil.nohp }}
      </p></td>
  </tr>
</table>



{% endblock %}