{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<h2 class="tengah">{{ profil.username }}'s Profile as Admin Sistem</h2><br>
  <table>
    <tr>
      <td><h3>
        Peran
      </h3></td>
      <td><p> 
        {{ peran }}
      </p></td>
    </tr>

    <tr>
        <td><h3>
          Username
        </h3></td>
        <td><p> 
          {{ profil.username }}
        </p></td>
    </tr>
    <tr>
        <td><h3>
          Password
        </h2></td>
        <td><p> 
          {{ profil.password }}
        </p></td>
    </tr>
  
</table>



{% endblock %}