{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'main/asset/s_icon.svg' %}" type="image/x-icon">
    
    <title>SIRUCO</title>
    {% block meta %}
    {% endblock %}

</head>
<body id="body">
    <nav>
        <a href = "/trigger-1/home"><img src="{% static 'main/asset/siruco_logo.svg' %}"></a>
        <div class="navbar">

          <div class="dropdown">
            <button class="dropbtn">Pasien 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_2:list_create_appointment' %}">Buat Appointment</a>
              <a href="{% url 'trigger_2:read_appointment' %}">List Appointment</a>
              <a href="#">List Hasil Tes Pasien</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Faskes 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_3:buat-faskes' %}">Buat Faskes</a>
              <a href="{% url 'trigger_3:list-faskes' %}">List Faskes</a>
              <a href="{% url 'trigger_3:buat-jadwal-faskes' %}">Buat Jadwal Faskes</a>
              <a href="{% url 'trigger_3:list-jadwal-faskes' %}">List Jadwal Faskes</a>
            </div>
        </div> 
        
        <div class="dropdown">
            <button class="dropbtn">Rumah Sakit 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="{% url 'trigger_3:buat-rumah-sakit' %}">Buat RS</a>
              <a href="{% url 'trigger_3:list-rumah-sakit' %}">List RS</a>
              <a href="{% url 'trigger_2:lihat_jadwal_dokter' %}">List Jadwal Dokter</a>
              
              
              <a href="{% url 'trigger_2:create_ruangan_rs' %}">Buat Ruangan RS</a>
              <a href="{% url 'trigger_2:list_ruangan_rs' %}">List Ruangan RS</a>
              <a href="{% url 'trigger_2:create_bed_rs' %}">Buat Bed RS</a>
              <a href="{% url 'trigger_2:list_bed_rs' %}">List Bed RS</a>
              <a href="{% url 'trigger_3:buat_reservasi_rs' %}">Buat Reservasi RS</a>
              <a href="{% url 'trigger_3:list_reservasi_rs' %}">List Reservasi RS</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Hotel 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">List Hotel</a>
              <a href="/trigger-4/list-ruangan-hotel-viewonly/">List Ruangan Hotel</a>
              <a href="#">List Paket Makan</a>
              <a href="/trigger-4/buat-reservasi-hotel/">Buat Reservasi Hotel</a>
              <a href="/trigger-4/list-reservasi-hotel/">List Reservasi Hotel</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Transaksi 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
<<<<<<< HEAD
              <a href="{% url 'trigger_3:list-transaksi-rs' %}">List Transaksi RS</a>
              <a href="#">List Transaksi Hotel</a>
              <a href="#">List Transaksi Booking Hotel</a>
=======
              <a href="#">List Transaksi RS</a>
              <a href="/trigger-4/list-transaksi-hotel/">List Transaksi Hotel</a>
              <a href="/trigger-4/list-transaksi-booking-hotel/">List Transaksi Booking Hotel</a>
>>>>>>> afc202f98e3daf3b27ad12fc7890732bd57f7a21
              <a href="#">Buat Transaksi Makan dan Daftar Pesan</a>
              <a href="#">List Transaksi Makan dan Daftar Pesan</a>
            </div>
        </div> 

      </div>
        
      <a href="/trigger-1/logout"><h3 style="color:#507DBC; background-color: #cfddec;">Logout</h3></a>
    </nav>
    {% block content %}
    
    {% endblock content %}  
</body>
</html>