{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'main/asset/s_icon.svg' %}" type="image/x-icon">
    
    <title>SIRUCO</title>
    {% block meta %}
    {% endblock %}

</head>
<body id="body">
    <nav>
        <a href = "/trigger-1/home"><img src="{% static 'main/asset/siruco_logo.svg' %}"></a>
        <div class="navbar">

          <div class="dropdown">
            <button class="dropbtn">Pasien 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Buat Appointment</a>
              <a href="#">List Appointment</a>
              <a href="#">List Hasil Tes Pasien</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Faskes 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Buat Faskes</a>
              <a href="#">List Faskes</a>
              <a href="#">Buat Jadwal Faskes</a>
              <a href="#">List Jadwal Faskes</a>
            </div>
        </div> 
        
        <div class="dropdown">
            <button class="dropbtn">Rumah Sakit 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Buat RS</a>
              <a href="#">List RS</a>
              <a href="{% url 'trigger_2:lihat_jadwal_dokter' %}">List Jadwal Dokter</a>
              <a href="#">Buat Ruangan RS</a>
              <a href="#">List Ruangan RS</a>
              <a href="#">Buat Bed RS</a>
              <a href="#">List Bed RS</a>
              <a href="{% url 'trigger_3:buat_reservasi_rs' %}">Buat Reservasi RS</a>
              <a href="#">List Reservasi RS</a>
            </div>
        </div> 
        <div class="dropdown">
            <button class="dropbtn">Hotel 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">List Hotel</a>
              <a href="/trigger-4/list-ruangan-hotel-viewonly/">List Ruangan Hotel</a>
              <a href="#">List Paket Makan</a>
              <a href="#">Buat Reservasi Hotel</a>
              <a href="#">List Reservasi Hotel</a>
            </div>
        </div> 

        <div class="dropdown">
            <button class="dropbtn">Transaksi 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">List Transaksi RS</a>
              <a href="#">List Transaksi Hotel</a>
              <a href="#">List Transaksi Booking Hotel</a>
              <a href="#">Buat Transaksi Makan dan Daftar Pesan</a>
              <a href="#">List Transaksi Makan dan Daftar Pesan</a>
            </div>
        </div> 

      </div>
        
      <a href="/trigger-1/logout"><h3 style="color:#507DBC; background-color: #cfddec;">Logout</h3></a>
    </nav>
    {% block content %}
    
    {% endblock content %}  
</body>
</html>