.box-card {
    display: flex;
    height: fit-content;
    padding: 32px;
    flex-direction: column;
    background-color: #DAE3E5;
    border: 2px solid #507DBC;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    margin-top: 32px;
    padding: 32px;
    gap: 16px;
}


label {
    font-size: large;
    font-weight:bold;
}

input[type=text], select, textarea {
    width: 95%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}

input[type=password], select, textarea {
    width: 95%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #507DBC;
    color: white;
    padding: 10px 20px;
    margin-top: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}
  
.col-25 {
    float: left;
    width: 100%;
    margin-top: 16px;
}
  
.col-75 {
    float: left;
    width: 100%;
    margin-top: 16px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: flex;
    clear: both;
}

.tablenomor {
    width: 100%;
    counter-reset: css-counter -1;
  }
.tablenomor tr {
    counter-increment: css-counter 1;
  }
.tablenomor tr td:first-child::before {
      content: counter(css-counter) ". ";
  }

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}

