/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Oswald:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Oswald', sans-serif;
}

nav {
  background-color: white;
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;

  box-sizing: border-box;
  display: flex;
  height: 80px;
  width: 100%;
  padding: 0 5%;
  box-shadow: 0px 4px 4px rgba(201, 201, 201, 0.25);

  align-items: center;  
}

a {
  text-decoration:none;
  color: #04080F;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.navbar .dropdown {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: #04080F;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 8;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #04080F;
  max-width: 150px;
}

table {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-collapse: collapse;
  align-items: center;
}

.show-data {
  width:max-content;
  margin: auto;
}

.show-data-parent {
  display: flex;
  height: fit-content;
  width: 100%;
  margin: auto;
  margin-top: 32px;
  padding: 32px;
  gap: 16px;
  flex-direction: column;

  background-color: #ccdef1;

  border: 2px solid #507DBC;

  border-radius: 10px;
}

.tengah {
  text-align: center;
  color: #38629c;
}

.tombol-delete {
  background-color: rgb(250, 117, 108);
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.tombol-update {
  background-color: rgb(200, 241, 222);
  padding: 4px 8px;
  border-radius: 4px;
}

.tombol-detail {
  background-color: rgb(154, 221, 241);
  padding: 4px 8px;
  border-radius: 4px;
}

.tombol-kembali {
  background-color: rgb(25, 6, 61);
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
  color: #f9f9f9;
}