{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<script language="javascript" type="text/javascript">
  
  $(document).ready(function () {

    $("#kode_hotel").change(function () {
        var el = $(this);
        var data = JSON.parse("{{data|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_ruangan"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys = Object.keys(data); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys.length; i++) {
          if (el.val() == keys[i]) {   
            var temp = data[keys[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_ruangan").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
        
       
    });

    });

    function Validation()
    {
      var entrydate, outdate;
      entrydate = document.getElementById("id_tanggal_masuk").value;
      outdate = document.getElementById("id_tanggal_keluar").value;
      if(entrydate > outdate)
      
      {
          event.preventDefault();
          alert("Maaf, tolong masukan tanggal keluar > tanggal masuk");
          returnToPreviousPage();
          return false;
      }
      return true;
    }
 
  </script>

<br><br><br><br>
<section class="home">
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM BUAT HOTEL</h2><br>
                          
              <form method="POST" action="{% url 'trigger_5:buat_hotel' %}"  onsubmit="Validation();">
                {% csrf_token %}

                  <div class="row">
                    <div class="col-25">
                      <label for="jenis_bed">
                        Kode Hotel
                      </label>
                    </div>
                    <div class="col-75">
                        <input for='kode_hotel' id ='kode_hotel' value="XXX" disabled></input>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Nama Hotel
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.nama_hotel }}
                    </div>
                  </div> 
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Rujukan: {{form.rujukan}}
                      </label>
                    </div>
                  
                 


                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Alamat : 
                      </label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Jalan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.jalan }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Kelurahan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.kelurahan }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Kecamatan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.kecamatan }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Kabupaten/Kota
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.kabkot}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Provinsi
                      </label>
                    </div>
                    <div class="col-75">
                      {{ form.prov}}
                    </div>
                  </div>
         
                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>



{% endblock %}