{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>Kode</th>
      <th>Hotel</th>
      <th>Rujukan</th>
      <th>Alamat</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
      <td> </td>
      <td> {{ row.kode }} </td> 
      <td> {{ row.nama }} </td> 
      {% if row.isrujukan == '1' %} 
      <td><input type="checkbox" name="check" value="check" checked disabled></td>
      {% else %}
      <td><input type="checkbox" disabled></td>
      {% endif %}
      <td> {{ row.jalan }}, {{ row.kelurahan }}, {{ row.kecamatan }}, {{ row.kabkot }}, {{ row.prov }} </td>
      <td> <a class="tombol-update" href="{% url 'trigger_5:update_hotel' kode=row.kode %}">UPDATE</a> </td>
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}