{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>Id Transaksi Hotel</th>
      <th>Id Transaksi</th>
      <th>Total Bayar</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
      <td> </td>
      <td> {{ row.idtransaksi }} </td> 
      <td> {{ row.idtransaksimakan }} </td> 
      <td> {{ row.totalbayar }} </td>
      <td> <a class="tombol-detail" href="{% url 'trigger_5:lihat_transaksi_makan_detail' idtransaksi=row.idtransaksi idtransaksimakan=row.idtransaksimakan %}">DETAIL</a> </td>
      {% if row.statusbayar != "LUNAS" %} 
      <td> <a class="tombol-update" href="#">UPDATE</a> </td>
      <td> <a class="tombol-delete" href="{% url 'trigger_5:delete_transaksi_makan' idtransaksi=row.idtransaksi idtransaksimakan=row.idtransaksimakan %}">DELETE</a> </td> 
      {% endif %} 
      
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}