{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<section class="home">
    <section class="section2">
        <h2 class="title">DETAIL TRANSAKSI MAKAN</h2><br>
<div class="row">
    <div class="col-25">
      <label for="jenis_bed">
        Id Transaksi 
      </label>
    </div>
    <div class="col-75">
        {{ idtransaksi }}
      </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="jenis_bed">
        Id Transaksi Makan 
      </label>
    </div>
    <div class="col-75">
        {{ idtransaksimakan }}
      </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="jenis_bed">
        Kode Hotel 
      </label>
    </div>
    <div class="col-75">
        {{ kodehotel }}
      </div>
  </div>
  <br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>Id Pesanan</th>
      <th>Paket Makan</th>
      <th>Harga</th>
    </tr>

    {% for row in table %}
    <tr>
      <td> </td>
      <td> {{ row.nama }} </td> 
      <td> {{ row.harga }} </td> 
    </tr>
    
    {% endfor %}

  </table>
  <div class="row">
    <div class="col-25">
      <label for="jenis_bed">
        Total Bayar 
      </label>
    </div>
    <div class="col-75">
        {{ totalbayar }}
      </div>
  </div>
</section>
</section>

{% endblock %}