{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>Hotel</th>
      <th>Kode Paket</th>
      <th>Nama Paket</th>
      <th>Harga</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
      <td> </td>
      <td> {{ row.kodehotel }} </td> 
      <td> {{ row.kodepaket }} </td> 
      <td> {{ row.nama }} </td> 
      <td> {{ row.harga }} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_5:update_paket_makan' kodehotel=row.kodehotel kodepaket=row.kodepaket  %}">UPDATE</a></td>
      <td> <a class="tombol-delete" href="{% url 'trigger_5:delete_paket_makan' kodehotel=row.kodehotel kodepaket=row.kodepaket  %}">DELETE</a> </td>
      
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}