{% extends 'base-sistem.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>
<section class="home">
 
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM UBAH PAKET MAKAN</h2>
              <form method="POST" action="">
                {% csrf_token %}

                <div class="row">
                  <div class="col-25">
                    <label for="kode_hotel">
                      Hotel
                    </label>
                  </div>
                  <div class="col-75">
                    <input for='kode_hotel' id ='kode_hotel' value="{{ paketmakan.kodehotel }}" disabled></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="kode_paket">
                      Kode Paket
                    </label>
                  </div>
                  <div class="col-75">
                    <input for='kode_paket' id ='kode_paket' value="{{ paketmakan.kodepaket }}" disabled></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="nama_paket">
                      Nama Paket
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updatepaketmakan.nama_paket }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="harga">
                      Harga
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updatepaketmakan.harga }}
                  </div>
                </div>


                <div class="row">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>


{% endblock %}