{% extends 'base-sistem.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>
<section class="home">
 
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM UBAH HOTEL</h2>
              <form method="POST" action="">
                {% csrf_token %}

                <div class="row">
                  <div class="col-25">
                    <label for="kode_hotel">
                      Kode Hotel
                    </label>
                  </div>
                  <div class="col-75">
                    <input for='kode_hotel' id ='kode_hotel' value="{{ hotel.kode }}" disabled></input>
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="nama_hotel">
                        Nama Hotel
                      </label>
                    </div>
                    <div class="col-75">
                      {{ updatehotel.nama_hotel}}
                    </div>
                  </div>

                <div class="row">
                  <div class="col-25">
                    <label for="kode_paket">
                        Rujukan : {{ updatehotel.rujukan }}
                    <!-- {% if hotel.isrujukan == '1' %}
                    <input type="checkbox" name="isrujukan" value="1" checked>
                    {% else %}
                    <input type="checkbox" name="isrujukan" value="1">
                    {% endif %} -->
                    </label>
                  </div>
                </div>
                
                <div class="row">
                    <div class="col-25">
                      <label for="jalan">
                        Jalan
                      </label>
                    </div>
                    <div class="col-75">
                        {{ updatehotel.jalan }}
                    </div>
                  </div>

                <div class="row">
                  <div class="col-25">
                    <label for="harga">
                      Kelurahan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updatehotel.kelurahan }}
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="harga">
                        Kecamatan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ updatehotel.kecamatan }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="harga">
                        Kabupaten/Kota
                      </label>
                    </div>
                    <div class="col-75">
                      {{ updatehotel.kabkot }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="harga">
                        Provinsi
                      </label>
                    </div>
                    <div class="col-75">
                      {{ updatehotel.prov }}
                    </div>
                  </div>

                <div class="row">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>


{% endblock %}