{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="{% static 'main/asset/s_icon.svg' %}" type="image/x-icon">
    
    <title>SIRUCO</title>
    {% block meta %}
    {% endblock %}

</head>
<body id="body">
    <nav>
        <a href = "/"><img src="{% static 'main/asset/siruco_logo.svg' %}"></a>
    
        
    </nav>
    {% block content %}
    

    
    
    {% endblock content %}  
</body>
</html>