{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}

<section class="home">
  <section class="section2">
      <div class="parent-card">
        <a href = "/trigger-1/login">
          <div class="card">
            <img src="{% static 'main/asset/login.svg' %}" style="width: 50px;" alt="">
            <h2>Login</h2>
          </div>
        </a>
        
        <a href = "/trigger-1/role">
          <div class="card">
            <img src="{% static 'main/asset/register.svg' %}" style="width: 50px;" alt="">
            <h2>Register</h2>
          </div>
        </a>
        
      </div>
  </section>
</section>

{% endblock %}