{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<script language="javascript" type="text/javascript">
  
  $(document).ready(function () {

    $("#kode_hotel").change(function () {
        var el = $(this);
        var data = JSON.parse("{{data|escapejs}}");  //ngambil data yang di transfer dari views supaya bisa dipake gi js

        var list = document.getElementById("kode_ruangan"); //clear data sebelumnya
        while (list.hasChildNodes()) {
          list.removeChild(list.firstChild);
        }

        const keys = Object.keys(data); // ngambil key-key yang ada dalam bentuk list
        for (i = 0; i < keys.length; i++) {
          if (el.val() == keys[i]) {   
            var temp = data[keys[i]]; //list dari kode room
            for (j = 0; j < temp.length ; j++) {  //masukin optionnya
              $("#kode_ruangan").append("<option>"+temp[j]+"</option>");
              
            }break;
          }
         
        }
        
       
    });

    });

    function Validation()
    {
      var entrydate, outdate;
      entrydate = document.getElementById("id_tanggal_masuk").value;
      outdate = document.getElementById("id_tanggal_keluar").value;
      if(entrydate > outdate)
      
      {
          event.preventDefault();
          alert("Maaf, tolong masukan tanggal keluar > tanggal masuk");
          returnToPreviousPage();
          return false;
      }
      return true;
    }
 
  </script>

<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">BUAT RESERVASI HOTEL</h2><br>
               
              <form method="POST" action="/trigger-4/buat-reservasi-hotel/"  onsubmit="Validation();">
                {% csrf_token %}
                <label for="nik_pasien">NIK Pasien</label>
                  <select id="nik_pasien" name="nik_pasien">
                    {% for nik in list_nik %}
                    <option>{{ nik }}</option>
                    {% endfor %}
                  </select>

                  <div class="row">
                    <div class="col-25">
                      <label for="jenis_bed">
                        Tanggal Masuk (YYYY-MM-DD)
                      </label>
                    </div>
                    <div class="col-75">
                      {{ ReservasiHotel.tanggal_masuk }}
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Tanggal Keluar (YYYY-MM-DD)
                      </label>
                    </div>
                    <div class="col-75">
                      {{ ReservasiHotel.tanggal_keluar }}
                    </div>
                  </div>

                  


                <label for="kode_hotel">Kode hotel</label>
                  <select id="kode_hotel" name="kode_hotel">
                    {% for kode in list_hotel %}
                    <option>{{ kode }}</option>
                    {% endfor %}
                  </select>


               <!-- kode ruangan belommm -->

               <label for="kode_ruangan">Kode ruangan</label>
               <select id="kode_ruangan" name="kode_ruangan">
                 {% for kode in kode_ruangan %}
                 <option>{{ kode }}</option>
                 {% endfor %}
               </select>
         
                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>



{% endblock %}