{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table class="tablenomor" style="width:100%">
    <tr>
      <th>No.</th>
      <th>Id Transaksi</th>
      <th>Total Bayar</th>
      <th>Kode Pasien</th>
      <th>Tanggal Masuk</th>
    </tr>

    {% for row in transaksi_booking %}
    <tr>
      <td></td>
      <td> {{row.idtransaksibooking}} </td>
      <td> {{row.totalbayar}} </td> 
      <td> {{row.kodepasien}} </td> 
      <td> {{row.tglmasuk}} </td> 
    </tr>
    
    {% endfor %}
  </table>


{% endblock %}