{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>NIK Pasien</th>
      <th>Tanggal masuk</th>
      <th>Tanggal keluar</th>
      <th>Kode hotel</th>
      <th>Ruangan</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
        <td></td>
        <td> {{row.kodepasien}} </td>
        <td> {{row.tglmasuk}} </td> 
        <td> {{row.tglkeluar}} </td> 
        <td> {{row.kodehotel}} </td> 
        <td> {{row.koderoom}} </td> 
        <td> <a class="tombol-update" href="{% url 'trigger_4:update-reservasi-hotel' kodepasien=row.kodepasien tglmasuk=row.tglmasuk %}">UPDATE</a></td>
         {% if row.tglmasuk > date %} <!--yang dapat dihapus hanya reservasi yg tglmasuk > tgl sekarang -->
        <td> <a class="tombol-delete" href="{% url 'trigger_4:delete-reservasi-hotel' kodepasien=row.kodepasien tglmasuk=row.tglmasuk %}">DELETE</a> </td>
        {% endif %}
    </tr>
    
{% endfor %}
  </table>


{% endblock %}