{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>Kode Hotel</th>
      <th>Kode Ruangan</th>
      <th>Jenis Bed</th>
      <th>Tipe</th>
      <th>Harga</th>
      <th>Action</th>
    </tr>

    {% for row in table %}
    <tr>
      <td></td>
      <td> {{row.kodehotel}} </td>
      <td> {{row.koderoom}} </td> 
      <td> {{row.jenisbed}} </td> 
      <td> {{row.tipe}} </td> 
      <td> {{row.harga}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_4:update-ruangan-hotel' kodehotel=row.kodehotel koderoom=row.koderoom %}">UPDATE</a></td>
      {% if row.koderoom not in reservasi %}
      <td> <a class="tombol-delete" href="{% url 'trigger_4:delete-ruangan-hotel' kodehotel=row.kodehotel koderoom=row.koderoom %}">DELETE</a> </td>
      {% else %}
         {% for key, value in dict_tglkeluar.items %}  <!--buat ngapus yang tanggalnya udh lewat -->
          {%if key == row.kodehotel and date > value %}
          <td> <a class="tombol-delete" href="{% url 'trigger_4:delete-ruangan-hotel' kodehotel=row.kodehotel koderoom=row.koderoom %}">DELETE</a> </td>
          {% endif %}
        {% endfor%}
      {% endif %}

    </tr>
    
{% endfor %}
  </table>


{% endblock %}