{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%" class="tablenomor">
    <tr>
      <th>No.</th>
      <th>NIK Pasien</th>
      <th>Tanggal masuk</th>
      <th>Tanggal keluar</th>
      <th>Kode hotel</th>
      <th>Ruangan</th>
    </tr>

    {% for row in table %}
    <tr>
      <td></td>
      <td> {{row.kodepasien}} </td>
      <td> {{row.tglmasuk}} </td> 
      <td> {{row.tglkeluar}} </td> 
      <td> {{row.kodehotel}} </td> 
      <td> {{row.koderoom}} </td> 
    </tr>
    
{% endfor %}
  </table>


{% endblock %}