{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Id Transaksi</th>
      <th>NIK Pasien</th>
      <th>Tanggal Pembayaran</th>
      <th>Waktu Pembayaran</th>
      <th>Total Biaya</th>
      <th>Status</th>
      <th>Action</th>
    </tr>

    {% for row in transaksi_hotel %}
    <tr>
      <td> {{row.idtransaksi}} </td>
      <td> {{row.kodepasien}} </td> 
      <td> {{row.tanggalpembayaran}} </td> 
      <td> {{row.waktupembayaran}} </td> 
      <td> {{row.totalbayar}} </td> 
      <td> {{row.statusbayar}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_4:update-transaksi-hotel' idtransaksi=row.idtransaksi%}">UPDATE</a></td>

    </tr>
    
    {% endfor %}
  </table>


{% endblock %}