{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

<script language="javascript" type="text/javascript">
  
    function Validation()
    {
      var entrydate, outdate;
      entrydate = document.getElementById("tglmasuk").textContent;
      var temp1 = Date.parse(entrydate);
      
      outdate = document.getElementById("id_tanggal_keluar").value;
      var temp2 = Date.parse(outdate);
      
      if(temp1 >= temp2)
      
      {
          event.preventDefault();
          alert("Maaf, tolong masukan tanggal keluar > tanggal masuk");
          returnToPreviousPage();
          return false;
      }
      return true;
    }
 
  </script>

<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">UBAH RESERVASI HOTEL</h2><br>
                          
              <form method="POST"  onsubmit="Validation();">
                {% csrf_token %}

                 <div class="row">
                    <div class="col-25">
                      <label for="nik_pasien">
                        NIK Pasien
                      </label>
                    </div>
                    <div class="nik_pasien">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Reservasi.kodepasien }}" disabled></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="jenis_bed">
                        Tanggal Masuk
                      </label>
                    </div>
                    <div class="col-75" id='tglmasuk'>
                       {{ Reservasi.tglmasuk }}
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Tanggal Keluar (YYYY-MM-DD)
                      </label>
                    </div>
                    <div class="col-75">
                      {{ Formupdatereservasi.tanggal_keluar }}
                    </div>
                  </div>

                  


                  <div class="row">
                    <div class="col-25">
                      <label for="kode_hotel">
                        Hotel
                      </label>
                    </div>
                    <div class="col-75">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Reservasi.kodehotel }}" disabled></input>
                    </div>
                  </div>


              
                  <div class="row">
                    <div class="col-25">
                      <label for="kode_room">
                        Ruangan
                      </label>
                    </div>
                    <div class="col-75">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Reservasi.koderoom }} " disabled></input>
                    </div>
                  </div>
         
                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>



{% endblock %}