{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}

<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">UBAH TRANSAKSI HOTEL</h2><br>
                          
              <form method="POST">
                {% csrf_token %}

                 <div class="row">
                    <div class="col-25">
                      <label for="nik_pasien">
                        NIK Pasien
                      </label>
                    </div>
                    <div class="nik_pasien">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Transaksihotel.kodepasien }}" disabled></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="jenis_bed">
                        ID Transaksi
                      </label>
                    </div>
                    <div class="col-75" id='tglmasuk'>
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Transaksihotel.idtransaksi }}" disabled></input>
                    </div>
                  </div>
                
                  <div class="row">
                    <div class="col-25">
                      <label for="tanggal_keluar">
                        Tanggal Pembayaran
                      </label>
                    </div>
                    <div class="col-75">
                        <input for='kode_ruangan' id ='kode_ruangan' value="{{ Transaksihotel.tanggalpembayaran }}" disabled></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kode_hotel">
                        Waktu Pembayaran
                      </label>
                    </div>
                    <div class="col-75">
                        <input for='kode_ruangan' id ='kode_ruangan' value="{{ Transaksihotel.waktupembayaran }}" disabled></input>
                    </div>
                  </div>


              
                  <div class="row">
                    <div class="col-25">
                      <label for="kode_room">
                        Total Biaya
                      </label>
                    </div>
                    <div class="col-75">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ Reservasi.totalbayar}}" disabled></input>
                    </div>
                  </div>
         
                  <div class="row">
                    <div class="col-25">
                      <label for="kode_room">
                        Status Bayar
                      </label>
                    </div>
                    <div class="col-75">
                      {{ Formupdatetransaksi.statusbayar }}
                    </div>
                  </div>

                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>



{% endblock %}