{% extends 'base-sistem.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">UBAH RUANGAN HOTEL</h2><br>
                          
              <form method="POST" action="">
                {% csrf_token %}
                <div class="row">
                    <div class="col-25">
                      <label for="kode_ruangan">
                        Kode Hotel
                      </label>
                    </div>
                    <div class="col-75">
                       <input for='kode_ruangan' id ='kode_ruangan' value="{{ hotelroom.kodehotel }}" disabled></input>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kode_ruangan">
                        Kode Ruangan
                      </label>
                    </div>
                    <div class="col-75">
                      <input for='kode_ruangan' id ='kode_ruangan' value="{{ hotelroom.koderoom }}" disabled></input>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-25">
                    <label for="jenis_bed">
                      Jenis Bed
                    </label>
                  </div>
                  <div class="col-75">
                    {{ pendaftaranRuanganHotel.jenis_bed }}
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="tipe">
                        Tipe
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranRuanganHotel.tipe }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="">
                        Harga per hari
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranRuanganHotel.harga_per_harian }}
                    </div>
                  </div>

                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>



{% endblock %}