{% extends 'base-dokter.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Buat Jadwal Dokter</th>
    </tr>
    {% for row in table %}
    <tr>
      <td> {{row.kode_faskes}} </td>
      <td> {{row.shift }} </td>
      <td> {{row.tanggal }} </td>
      <td> <a class="tombol-update" href="{% url 'trigger_2:buat_jadwal_dokter' kode_faskes=row.kode_faskes shift=row.shift tanggal=row.tanggal %}">CREATE</a></td>
    </tr>
    
{% endfor %}
  </table>


{% endblock %}