{% extends 'base-satgas.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

{% block content %}

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#kode_rs").change(function () {
            var kode_rs_selected = $(this);
            var data = JSON.parse("{{data|escapejs}}");

            var list = document.getElementById("kode_room"); //clear data sebelumnya
            while (list.hasChildNodes()) {
            list.removeChild(list.firstChild);
            }
            
            const keys = Object.keys(data);
            
            for (i = 0; i < keys.length; i++) {
                if(kode_rs_selected.val() == keys[i]) {
                    var temp = data[keys[i]];
                    for(j = 0; j < temp.length; j ++) {
                        $("#kode_room").append("<option>"+ temp[j] +"</option>")
                    } break;
                } 
            }
        });

    });

</script>

<br><br><br>

<section class="home">
    <section class="section2">
        <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM BUAT BED RS</h2>
              <form action="" method="POST">
                {% csrf_token %}

                <div class="row">
                  <label>Kode Rumah Sakit</label>
                  <select id="kode_rs" name="kode_rs">
                    {% for kode in list_kode_rs %}
                    <option>{{ kode }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="row">
                    <label>Kode Ruangan</label>
                    <select id="kode_room" name="kode_room">
                    </select>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="kode_bed">
                      Kode Bed
                    </label>
                  </div>
                  <div class="col-75">
                    <input for='kode_bed' id ='kode_bed' value="Bxx" disabled></input>
                  </div>
                </div>

                <div class="row" id="submit">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}