{% extends base_html %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>
<section class="home">
 
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM BUAT APPOINTMENT</h2>
              <form method="POST" action="">
                {% csrf_token %}

                <div class="row">
                  <label for="nik_pasien">NIK Pasien</label>
                  <select id="nik_pasien" name="nik_pasien">
                    {% for nik in list_nik %}
                    <option>{{ nik }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="email">
                      Email Dokter
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ username }}" disabled></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="email">
                      Kode Faskes
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ kode_faskes }}" disabled></input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="email">
                      Tanggal Praktek
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ tgl_praktek }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="email">
                      Shift Praktek
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ shift_praktek }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>


{% endblock %}