{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>No STR</th>
      <th>Dokter</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Jumlah Pasien</th>
    </tr>

    {% for row in table %}
    <tr>
      <td> {{ row.nostr}} </td>
      <td> {{ row.username }} </td> 
      <td> {{ row.kode_faskes }} </td> 
      <td> {{ row.shift }} </td> 
      <td> {{ row.tanggal }} </td> 
      <td> {{ row.jmlpasien }} </td> 
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}