{% extends 'base-satgas.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>

<table style="width:100%">
    <tr>
      <th>Kode RS</th>
      <th>Kode Ruangan</th>
      <th>Kode Bed</th>
      <th>Action</th>
    </tr>

    {% for row in bed_rs %}
    <tr>
      <td> {{ row.koders }} </td>
      <td> {{ row.koderuangan }} </td> 
      <td> {{ row.kodebed }} </td>
      {% if row.kodebed not in bed_rs_reserved %}
      <td> <a class="tombol-delete" href="{% url 'trigger_2:delete_bed_rs' koderuangan=row.koderuangan koders=row.koders kodebed=row.kodebed %}">Delete</a></td>
      {% else %}
        {% for key, value in dict_tglkeluar.items %}
        {% if key == row.kodebed and date > value %}
        <td> <a class="tombol-delete" href="{% url 'trigger_2:delete_bed_rs' koderuangan=row.koderuangan koders=row.koders kodebed=row.kodebed %}">Delete</a></td>
        {% endif %}
      
        {% endfor %}
    {% endif %}
    </tr>
    {% endfor %}
  </table>


{% endblock %}