{% extends 'base-satgas.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>

<table style="width:100%">
    <tr>
      <th>Kode RS</th>
      <th>Kode Ruangan</th>
      <th>Tipe</th>
      <th>Jumlah Bed</th>
      <th>Harga Ruangan</th>
      <th>Action</th>
    </tr>

    {% for row in ruangan_rs %}
    <tr>
      <td> {{ row.koders }} </td>
      <td> {{ row.koderuangan }} </td> 
      <td> {{ row.tipe }} </td> 
      <td> {{ row.jmlbed }} </td> 
      <td> {{ row.harga }} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_2:update_ruangan_rs' koders=row.koders koderuangan=row.koderuangan tipe=row.tipe harga=row.harga %}">Update</a></td> 
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}