{% extends base_html %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<section class="center-tittle">
  <h3 style="color: red;">{{ pesan }}</h3>
</section>

<table style="width:100%">
    <tr>
      <th>No STR</th>
      <th>Email Dokter</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Buat Appointment</th>
    </tr>

    {% for row in jadwal_dokter %}
    <tr>
      <td> {{ row.nostr }} </td>
      <td> {{ row.username }} </td>
      <td> {{ row.kode_faskes }} </td> 
      <td> {{ row.shift }} </td> 
      <td> {{ row.tanggal }} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_2:create_appointment' nostr=row.nostr username=row.username kode_faskes=row.kode_faskes tgl_praktek=row.tanggal shift_praktek=row.shift %}">Book</a></td> 
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}