{% extends 'base-dokter.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<section class="center-tittle">
  <h3 style="color: red;">{{ pesan }}</h3>
</section>
<table style="width:100%">
    <tr>
      <th>NIK Pasien</th>
      <th>Email Dokter</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Rekomendasi</th>
      <th>Action</th>
    </tr>

    {% for row in memeriksa %}
    <tr>
      <td> {{ row.nik_pasien }} </td>
      <td> {{ row.username_dokter }} </td> 
      <td> {{ row.kode_faskes }} </td> 
      <td> {{ row.praktek_shift }} </td> 
      <td> {{ row.praktek_tgl }} </td>
      <td> {{ row.rekomendasi }} </td>
      <td> <a class="tombol-update" href="{% url 'trigger_2:update_appointment' nik=row.nik_pasien email_dokter=row.username_dokter shift_praktek=row.praktek_shift tgl_praktek=row.praktek_tgl kode_faskes=row.kode_faskes %}">Update</a></td>  
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}