{% extends 'base-pengguna-publik.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>NIK Pasien</th>
      <th>Email Dokter</th>
      <th>Faskes</th>
      <th>Shift</th>
      <th>Tanggal</th>
      <th>Rekomendasi</th>
    </tr>

    {% for row in memeriksa %}
    <tr>
      <td> {{ row.nik_pasien }} </td>
      <td> {{ row.username_dokter }} </td> 
      <td> {{ row.kode_faskes }} </td> 
      <td> {{ row.praktek_shift }} </td> 
      <td> {{ row.praktek_tgl }} </td>
      <td> {{ row.rekomendasi }} </td>  
    </tr>
    
    {% endfor %}

  </table>


{% endblock %}