{% extends 'base-satgas.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>

<section class="center-tittle">
    <h3 style="color: red;">{{ pesan }}</h3>
</section>
<section class="home">
 
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM UBAH RUANGAN RS</h2>
              <form method="POST" action="">
                {% csrf_token %}

                <div class="row">
                  <div class="col-25">
                    <label for="koders">
                      Kode Rumah Sakit
                    </label>
                  </div>
                  <div class="col-75" id='koders'>
                    <input for='koders' id ='koders' value="{{ koders }}" disabled>
                </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="koderuangan">
                      Kode Ruangan
                    </label>
                  </div>
                  <div class="col-75" id='koderuangan'>
                    <input for='koderuangan' id ='koderuangan' value="{{ koderuangan }}" disabled>
                    </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tipe">
                      Tipe
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updateForm.tipe }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="harga">
                      Harga Ruangan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updateForm.harga }}
                  </div>
                </div>

                <div class="row">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>


{% endblock %}