{% extends 'base-dokter.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>
<section class="home">
 
    <section class="section2">
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">FORM UBAH APPOINTMENT</h2>
              <form method="POST" action="">
                {% csrf_token %}

                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                      NIK Pasien
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ nik }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="username">
                      Email Dokter
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ username }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="shift_praktek">
                      Shift Praktek
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ shift_praktek }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="tgl_praktek">
                      Tanggal Praktek
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ tgl_praktek }}" disabled></input>
                    
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="faskes">
                      Faskes
                    </label>
                  </div>
                  <div class="col-75">
                    <input value="{{ kode_faskes }}" disabled></input>
                    
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-25">
                    <label for="rekomendasi">
                      Rekomendasi
                    </label>
                  </div>
                  <div class="col-75">
                    {{ updateForm.rekomendasi }}
                  </div>
                </div>

                <div class="row">
                  <input type="submit" value="SIMPAN">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>


{% endblock %}