{% extends 'base-satgas.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}


<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Kode</th>
      <th>Rujukan?</th>
      <th>Action</th>
      
      
    </tr>
    
    {% for row in daftar %}
    
    <tr>
      <td> {{row.0.kode_faskes}} </td>
      <td> <input type="checkbox" id="checkboxrujukan" {{ row.1 }} disabled> </td>
      <td> <a class="tombol-update" href="{% url 'trigger_3:update-rs' kodefaskes=row.0.kode_faskes %}">UPDATE</a></td>
      
      
    </tr>

{% endfor %}

  </table>


{% endblock %}