.home {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 1000px;
}

.center-tittle {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.parent-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1.8rem;
    justify-content: center;
    align-items: flex-start;
}

.card {
    display: flex;
    box-sizing: border-box;
    max-width: 360px;
    background: #BBD1EA;
    box-shadow: 1px 5px 10px #00000025;
    border-radius: 10px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h2 {
    margin-top: 1.5rem;
}

.card p {
    margin-top: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    text-align: center;
}

.kiri {
    text-align: left;
}

.kanan {
    text-align: right;
}