{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}

<br><br><br><br>
<section class="home">
  <section class="section2">
    <div class="show-data">
        <div class="show-data-parent">
          <h2 class="title">DETAIL PASIEN</h2><br>
            <table>
              <tr>
                <td><h3>
                  Pendaftar
                </h3></td>
                <td><p> 
                  {{ idpendaftar }}
                </p></td>
              </tr>

              <tr>
                  <td><h3>
                    NIK
                  </h3></td>
                  <td><p> 
                    {{ table.nik }}
                  </p></td>
              </tr>
              <tr>
                  <td><h3>
                    Nama
                  </h2></td>
                  <td><p> 
                    {{ table.nama }}
                  </p></td>
              </tr>
              <tr>
                  <td><h3>
                    No Telepon
                  </h2></td>
                  <td><p> 
                    {{ table.notelp }}
                  </p></td>
              </tr>
              <tr>
                  <td><h3>
                    No HP
                  </h2></td>
                  <td><p> 
                    {{ table.nohp }}
                  </p></td>
              </tr>
            </table>

            <h3 class="tengah">
              ALAMAT KTP    
            </h3>

            <table>
              <tr>
                <td><h3>
                    Jalan
                </h2></td>
                <td><p> 
                  {{ table.ktp_jalan }}
                </p></td>
              </tr>
              <tr>
                <td><h3>
                  Kelurahan
                </h2></td>
                <td><p> 
                  {{ table.ktp_kelurahan }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Kecamatan
                </h2></td>
                <td><p> 
                  {{ table.ktp_kecamatan }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Kabupaten/Kota
                </h2></td>
                <td><p> 
                  {{ table.ktp_kabkot }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Provinsi
                </h3></td>
                <td><p>
                  {{ table.ktp_prov }}
                </p></td>
              </tr>
            </table>

            <h3 class="tengah">
              ALAMAT DOMISILI
            </h3>

            <table>
              <tr>
                <td><h3>
                    Jalan
                </h2></td>
                <td><p> 
                  {{ table.dom_jalan }}
                </p></td>
              </tr>
              <tr>
                <td><h3>
                  Kelurahan
                </h2></td>
                <td><p> 
                  {{ table.dom_kelurahan }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Kecamatan
                </h2></td>
                <td><p> 
                  {{ table.dom_kecamatan }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Kabupaten/Kota
                </h2></td>
                <td><p> 
                  {{ table.dom_kabkot }}
                </p></td>
              </tr>

              <tr>
                <td><h3>
                  Provinsi
                </h3></td>
                <td><p> 
                  {{ table.dom_prov }}
                </p></td>
              </tr>


            </table>
          
            <a class="tombol-kembali" href='/trigger-1/list-pasien'>Kembali</a>
          
      </div>
    </div>
  </section>
</section>


{% endblock %}