{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}



<br><br><br><br><br><br>
<table style="width:100%">
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Peran</th>
    </tr>

  </table>




{% endblock %}