{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}

<br><br><br><br>
<table style="width:100%">
    <tr>
      <th>NIK</th>
      <th>Nama Pasien</th>
      <th>Action</th>
    </tr>
    {% for row in table %}
    <tr>
      <td> {{row.nik}} </td>
      <td> {{row.nama}} </td> 
      <td> <a class="tombol-update" href="{% url 'trigger_1:update_pasien' nik=row.nik nama=row.nama id=row.idpendaftar %}">UPDATE</a></td>
      <td> <a class="tombol-delete" href="{% url 'trigger_1:delete_pasien' nik=row.nik %}">DELETE</a> </td>
      <td> <a class="tombol-detail" href="{% url 'trigger_1:detail_pasien' nik=row.nik %}">DETAIL</a> </td>
    </tr>
    
{% endfor %}
  </table>

{% endblock %}