{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">
        {{ pesan.pesan }}
      </h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">LOGIN</h2>
              <form method="POST" action="/trigger-1/home/">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="fname">
                        Email
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formlogin.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="lname">
                      Password
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formlogin.password }}
                  </div>
                </div>
            
                <div class="row">
                  <input type="submit" value="Login">
                </div>
                </form>
            </div>

            
        </div>
    </section>
  </section>

 


{% endblock %}