{% extends 'base-pengguna-publik.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}


{% block content %}

<br><br><br><br>

<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">PENDAFTARAN PASIEN</h2><br>
              <h3>Pendaftar : {{ pengguna_publik }}</h3>
            
              <form method="POST" action="/trigger-1/pendaftaran-pasien/">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                        NIK
                    </label>
                  </div>
                  <div class="col-75">
                    {{ pendaftaranPasien.nik }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="nama">
                      Nama
                    </label>
                  </div>
                  <div class="col-75">
                    {{ pendaftaranPasien.nama }}
                  </div>
                </div>

                <div class="row">
                    <div class="col-25">
                      <label for="no_telp">
                        No Telepon
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.no_telp }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="no_hp">
                        No HP
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.no_hp }}
                    </div>
                  </div>
                  
                  <h3 class="tengah">
                    ALAMAT KTP    
                  </h3>
                  
                  <div class="row">
                    <div class="col-25">
                      <label for="jalan_ktp">
                        Jalan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.jalan_ktp }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kelurahan_ktp">
                        Kelurahan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kelurahan_ktp }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kecamatan_ktp">
                        Kecamatan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kecamatan_ktp }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kabupaten_ktp">
                        Kabupaten/Kota
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kabupaten_ktp}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="provinsi_ktp">
                        Provinsi
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.provinsi_ktp }}
                    </div>
                  </div>
                  
                  <h3 class="tengah">
                    ALAMAT DOMISILI    
                  </h3>

                  <div class="row">
                    <div class="col-25">
                      <label for="jalan_dom">
                        Jalan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.jalan_dom }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kelurahan_dom">
                        Kelurahan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kelurahan_dom }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kecamatan_dom">
                        Kecamatan
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kecamatan_dom }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="kabupaten_dom">
                        Kabupaten/Kota
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.kabupaten_dom}}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-25">
                      <label for="provinsi_dom">
                        Provinsi
                      </label>
                    </div>
                    <div class="col-75">
                      {{ pendaftaranPasien.provinsi_dom}}
                    </div>
                  </div>

                <div class="row">
                  <input type="submit" value="Simpan">
                </div>


                </form>
            </div>
        </div>
    </section>
  </section>


{% endblock %}