{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">REGISTER PENGGUNA PUBLIK</h2>
              <form method="POST" action="/trigger-1/register/pengguna-publik">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="email">
                        Email
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formPenggunaPublik.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="password">
                      Password
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formPenggunaPublik.password }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="nama">
                        Nama
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formPenggunaPublik.nama }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-25">
                    <label for="nik">
                        NIK
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formPenggunaPublik.nik }}
                  </div>
                </div>


                <div class="row">
                  <div class="col-25">
                    <label for="no_hp">
                        No HP
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formPenggunaPublik.no_hp }}
                  </div>
                </div>

                <div class="row">
                  <input type="submit" value="Register">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}