{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}
<br><br><br>
<section class="home">
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">REGISTER DOKTER</h2>
              <form method="POST" action="">
                {% csrf_token %}
                
                <div class="row">
                  <div class="col-25">
                    <label for="email">
                        Email
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="password">
                        Password
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.password }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="no_str">
                        No STR
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.no_str }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="nama">
                        NAMA
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.nama }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="no_hp">
                        No HP
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.no_hp }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="gelar_depan">
                        Gelar Depan
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.gelar_depan }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="gelar_belakang">
                        Gelar Belakang
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formDokter.gelar_belakang }}
                  </div>
                </div>

                

                <div class="row">
                  <input type="submit" value="Register">
                </div>
              </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}