{% extends 'main/base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/trigger_1.css' %}">
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">

{% endblock %}

{% block content %}

<br><br><br>
<section class="home">
 
    <section class="section2">
      <h3 style="color: red;">{{ pesan }}</h3>
        <div class="parent-card">
            <div class="box-card">
              <h2 class="title">REGISTER ADMIN SATGAS</h2>
              <form method="POST" action="/trigger-1/register/admin-satgas">
                {% csrf_token %}
                <div class="row">
                  <div class="col-25">
                    <label for="email">
                        Email
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formAdminSatgas.email }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-25">
                    <label for="password">
                      Password
                    </label>
                  </div>
                  <div class="col-75">
                    {{ formAdminSatgas.password }}
                  </div>
                </div>

                <label for="kode_faskes">Kode faskes</label>
                  <select id="kode_faskes" name="kode_faskes">
                    {% for kode in kode_faskes %}
                    <option>{{ kode }}</option>
                    {% endfor %}
                  </select>

                <div class="row">
                  <input type="submit" value="Register">
                </div>
                </form>
            </div>
     
        </div>
    </section>
  </section>



{% endblock %}